
.container-rodape {
    font-family: "Poppins", sans-serif;
    background-color: #2B1B12;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 150px;
    min-height: 100px;
}

.nome-barber-rodape {
    display: flex;
}

.texto-nome-barber-rodape {
    align-self: center;
    font-family: "Playfair Display", serif;
    color: white;
    font-size: 25px;
    font-weight: 600;
    margin-left: 10px;
}

.logo-rodape {
    align-items: center;
    align-content: center;
    align-self: center;
    width: 35px;
    height: 35px;
}

.texto-navbar {
    font-family: "Poppins", sans-serif;
    color: rgb(163, 163, 163);
    font-size: 18px;
    font-weight: 500;
    margin-right: 25px;
    text-decoration: none;
}

.texto-navbar-botao {
    font-family: "Poppins", sans-serif;
    color: black;
    font-size: 17px;
    font-weight: 500;
    margin-right: 20px;
    text-decoration: none;
    background-color: #BF9445;
    padding: 10px 20px;
    border-radius: 30px;
}

.texto-diretos-willbarber {
    color: gray;
    text-align: center; 
}

.container-icones-rede-sociais {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.icone-redes-sociais {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    border-radius: 10px;
    background-color: rgba(128, 128, 128, 0.808);
    color: antiquewhite;
    cursor: pointer;
}


@media (max-width: 1024px) {
    .container-rodape {
        padding: 20px 50px; 
    }
}

@media (max-width: 768px) {
    .container-rodape {
        flex-direction: column;
        padding: 30px 20px;
        gap: 25px; 
        text-align: center;
    }

    .nome-barber-rodape {
        justify-content: center; 
    }

    .texto-navbar,
    .texto-navbar-botao {
        margin-right: 0;
        margin-bottom: 15px; 
        display: inline-block;
    }
}