.barra-filtros {
    display: flex;
    align-items: center;
    justify-content: space-between;

    max-width: 1200px;
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 40px;
    
}

.filtros {
    display: flex;
    align-items: center;

    background: #0c0c0c;

    border-radius: 16px;
    overflow: hidden;
}

.botao-filtro {
    border: none;
    background: transparent;

    color: #8f9bb3;

    padding: 14px 22px;

    cursor: pointer;

    font-weight: bold;
}

.botao-filtro.ativo {
    background: #d6af47;
    color: black;
}

.botao-novo-agendamento {
    border: none;

    background: #d6af47;
    color: black;

    padding: 15px 24px;

    border-radius: 16px;

    font-weight: bold;
    cursor: pointer;

    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
}

.texto-novo-agendamento {

    text-decoration: none;
}

/* Tablet */
@media (max-width: 992px) {

    .barra-filtros {
        padding: 30px 20px;
        gap: 20px;
    }

    .botao-filtro {
        padding: 12px 18px;
        font-size: 14px;
    }

    .botao-novo-agendamento {
        padding: 12px 18px;
        font-size: 14px;
    }
}

/* Celular */
@media (max-width: 768px) {

    .barra-filtros {
        flex-direction: column;
        align-items: stretch;
        gap: 20px;

        padding: 25px 15px;
    }

    .filtros {
        width: 100%;
        justify-content: center;
        flex-wrap: wrap;
        border-radius: 12px;
    }

    .botao-filtro {
        flex: 1;
        min-width: 100px;
        text-align: center;
        padding: 12px;
    }

    .botao-novo-agendamento {
        width: 100%;
        justify-content: center;
    }
}

/* Celulares pequenos */
@media (max-width: 480px) {

    .barra-filtros {
        padding: 20px 10px;
    }

    .filtros {
        flex-direction: column;
        width: 100%;
    }

    .botao-filtro {
        width: 100%;
        border-radius: 0;
        padding: 14px;
        font-size: 13px;
    }

    .botao-novo-agendamento {
        width: 100%;
        padding: 14px;
        font-size: 13px;
    }

    .texto-novo-agendamento {
        font-size: 13px;
    }
}