.container-secao2-tela-inicial {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 35px 20px;
    background-color: #2B1B12;
}

.layout-secao2-tela-inicial {
    display: flex;
    align-items: center;
    gap: 10px;
}

.campo-topicos-secao2-tela-inicial {
    display: flex;
    gap: 120px;
}

.icones-secao2-tela-inicial {
    display: flex;
    height: 45px;
    width: 45px;
    border-radius: 100px;
    justify-content: center;
    align-items: center;
    background-color: #4A371C;
    font-size: 22px;
    color: #BF9445;
}

.texto-topicos-secao2-tela-inicial {
    font-family: "Poppins", sans-serif;
    color: #D9D7D7;
    font-size: 19px;
    font-weight: 400;
}

