.container-secao2-tela-inicial {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 35px 20px;
    background-color: #2B1B12;
}

.layout-secao2-tela-inicial {
    display: flex;
    align-items: center;
    gap: 10px;
}

.campo-topicos-secao2-tela-inicial {
    display: flex;
    gap: 120px;
}

.icones-secao2-tela-inicial {
    display: flex;
    height: 45px;
    width: 45px;
    border-radius: 100px;
    justify-content: center;
    align-items: center;
    background-color: #4A371C;
    font-size: 22px;
    color: #BF9445;
}

.texto-topicos-secao2-tela-inicial {
    font-family: "Poppins", sans-serif;
    color: #D9D7D7;
    font-size: 19px;
    font-weight: 400;
}

/* Tablets */
@media (max-width: 1024px) {

    .campo-topicos-secao2-tela-inicial {
        gap: 50px;
        flex-wrap: wrap;
        justify-content: center;
    }

    .texto-topicos-secao2-tela-inicial {
        font-size: 17px;
    }
}

/* Celulares */
@media (max-width: 768px) {

    .container-secao2-tela-inicial {
        padding: 25px 15px;
    }

    .campo-topicos-secao2-tela-inicial {
        flex-direction: column;
        gap: 25px;
        width: 100%;
        align-items: center;
    }

    .layout-secao2-tela-inicial {
        width: 100%;
        justify-content: center;
        text-align: center;
    }

    .icones-secao2-tela-inicial {
        width: 40px;
        height: 40px;
        font-size: 18px;
    }

    .texto-topicos-secao2-tela-inicial {
        font-size: 16px;
    }
}

/* Celulares pequenos */
@media (max-width: 480px) {

    .container-secao2-tela-inicial {
        padding: 20px 10px;
    }

    .layout-secao2-tela-inicial {
        flex-direction: column;
        gap: 10px;
    }

    .icones-secao2-tela-inicial {
        width: 35px;
        height: 35px;
        font-size: 16px;
    }

    .texto-topicos-secao2-tela-inicial {
        font-size: 15px;
    }
}

@media (max-width: 768px) {
    .campo-topicos-secao2-tela-inicial {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
}

@media (max-width: 480px) {
    .campo-topicos-secao2-tela-inicial {
        grid-template-columns: 1fr;
    }
}