.container-secao3-tela-agendamento {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #000000;
    padding-top: 120px;

}

.layout-etapas-tela-agendamento {
    display: flex;
    align-items: center;
    justify-content: center;
}

.numeros-etapas-tela-agendamento-laranja {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #C9A646;
    color: #000000;
    font-size: 20px;
    font-weight: bold;
    margin: 0 20px;
}

.numeros-etapas-tela-agendamento-cinza {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #1A1A1A;
    color: #4B5563;
    font-size: 20px;
    font-weight: bold;
    margin: 0 20px;
}

.texto-etapas-tela-agendamento {
    font-family: "Poppins", sans-serif;
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    color: #979DA6;
}

.linha-etapas-tela-agendamento-laranja {
    display: flex;
    width: 100px;
    height: 2px;
    background-color: #C9A646;
    justify-content: center;
    margin-bottom: 27px;
}

.linha-etapas-tela-agendamento-cinza {
    display: flex;
    width: 110px;
    height: 2px;
    background-color: #262626;
    justify-content: center;
    margin-bottom: 27px;
}

.titulo-principal-tela-agendamento {
    margin-top: 50px;
    font-family: "Playfair Display", serif;
    font-size: 35px;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.subtitulo-tela-agendamento {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    color: #979DA6;
    margin-bottom: 30px;
}

.layout-total-valor-informacoes-tela-agendamento-secao4 {
    margin-top: 20px;
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #202020;
}

.texto-total-informacoes-tela-agendamento-secao4 {
    font-family: "Poppins", sans-serif;
    font-size: 22px;
    color: #ffffff;
    font-weight: 600;
}

.valor-total-informacoes-tela-agendamento-secao4 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 22px;
    color: #C9A646;
}






.container-confirmar-tela-agendamento-secao4 {
    display: flex;
    flex-direction: column;
    background-color: #111111;
    padding: 10px 40px 30px;
    width: 600px;
    border-radius: 20px;
    border: 1px solid #202020;
}

.layout-informacoes-tela-agendamento-secao4 {
    padding-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.lado-esquerdo-tela-agendamento-secao4 {
    display: flex;
    gap: 5px;
}

.icone-tela-agendamento-secao4 {
    width: 45px;
    height: 45px;
    border-radius: 10px;
    background-color: #2B1B12;
    color: #000000;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.texto-informacoes-tela-agendamento-secao4 {
    display: flex;
    align-items: center;
    margin-left: 10px;
    color: #9CA3AF;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
}


.lado-direito-tela-agendamento-secao4 {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    color: #ffffff;
}







.container-buttons-tela-agendamento-secao4 {
    display: flex;
    justify-content: space-between;
    max-width: 600px;
    margin-top: 20px;
    width: 100%;
    margin-bottom: 50px;
}



.button-continuar-tela-agendamento-secao2 {
    background-color: #C9A646;
    color: #000;
    border: none;
    padding: 14px 32px;
    border-radius: 30px;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Inter', sans-serif;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    transition: background-color 0.3s;
}

.button-continuar-tela-agendamento-secao2:hover {
    background-color: #bfa032;
}

.texto-button-continuar-tela-agendamento-secao4 {
    display: flex;
    align-items: center;
    gap: 8px;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #000;
    text-decoration: none;
    background-color: transparent;
    border: none;
}

.button-voltar-tela-agendamento-secao2 {
    color: #4e4e4e;
    border: 1px solid #4e4e4e;
    padding: 14px 32px;
    border-radius: 30px;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Inter', sans-serif;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    transition: background-color 0.3s;
}

.button-voltar-tela-agendamento-secao2:hover {
    color: #979DA6;
}

.texto-button-voltar-tela-agendamento-secao2 {
    display: flex;
    align-items: center;
    font-family: 'Inter', sans-serif;
    gap: 8px;
    font-size: 16px;
    font-weight: 600;
    color: #4a4a4a;
    text-decoration: none;
}